

<app-breadcrumb class="header_breadcrumb" [text]="'Gestión de Usuarios Clave SOL'" [isButtonClaveSol]="true" [userId]="id"></app-breadcrumb>
<div class="items-header">
  <span>&nbsp;</span>
  <input type="search"  placeholder="Búsqueda por nombre de usuario..." class="input_search" #miInput (keyup.enter)="searchByInput(miInput.value)" (blur)="searchByInput(miInput.value)">
</div>
<br>
<div class="mat-elevation-z8">
  <div class="table_container">
    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="name">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Name </th>
        <td class="text_table" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="username">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Username </th>
        <td class="text_table" mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="password">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Password </th>
        <td class="text_table" mat-cell *matCellDef="let element"> {{element.pass}} </td>
      </ng-container>

      <ng-container matColumnDef="ruc">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Ruc </th>
        <td class="text_table" mat-cell *matCellDef="let element"> {{element.ruc}} </td>
      </ng-container>
  
      <ng-container matColumnDef="token">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Token </th>
        <td class="text_table"mat-cell *matCellDef="let element"> {{element.token}} </td>
      </ng-container>

      <ng-container matColumnDef="compra">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Compra </th>
        <td class="text_table"mat-cell *matCellDef="let element"> <input type="checkbox" id="checkBuy" [(ngModel)]="element.buy"> </td>
      </ng-container>
      <ng-container matColumnDef="venta">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Venta </th>
        <td class="text_table"mat-cell *matCellDef="let element"> <input type="checkbox" id="checkSale" [(ngModel)]="element.sale"> </td>
      </ng-container>
      <ng-container matColumnDef="nuevaconsulta">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Nueva consulta </th>
        <td class="text_table"mat-cell *matCellDef="let element"> <input type="checkbox" id="checkNuevaconsulta" [(ngModel)]="element.newquery"> </td>
      </ng-container>
      <ng-container matColumnDef="rh">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Recibo por Honorarios</th>
        <td class="text_table"mat-cell *matCellDef="let element"> <input type="checkbox" id="checkNuevaconsulta" [(ngModel)]="element.rh"> </td>
      </ng-container>
      
      <ng-container matColumnDef="status">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Estado </th>
        <td class="text_table" mat-cell *matCellDef="let element"> 
          <span class="text_border_blocked" *ngIf="!element.status">{{element.statusName}}</span> 
          <span class="text_border_active" *ngIf="element.status">{{element.statusName}}</span> </td>
      </ng-container>
  
      <ng-container matColumnDef="accion">
        <th class="text_header" mat-header-cell *matHeaderCellDef> Acción </th>
        <td class="text_table icon" mat-cell *matCellDef="let element"> 
          <svg (click)="openDialogEdit(element.name, element.username, element._id, element.password, element.ruc, element.status, element.token, element.buy, element.sale, element.newquery, element.rh)" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1.5em" width="1.5em" color="#1e88e5" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
            </path>
          </svg>
          <svg (click)="openDialogDelete(element.name,element._id)" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1.5em" width="1.5em" color="#1e88e5" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
            </path>
          </svg>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
  </div>
  <div class="footer">
    <div>
      <span>{{this.pagination}} de {{this.paginationTotal}}</span>
    </div>
    <div class="items_footer"> 
      <div class="cursor-pointer">
        <div class="icon-wrapper text-black-50 icon_pagination" >
          <svg (click)="previous()" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="icon_footer" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
          </svg>
        </div>
      </div>
      <span class="text_num">{{num}}</span>
      <div class="cursor-pointer">
        <div class="icon-wrapper text-black-50 icon_pagination">
          <svg stroke="currentColor" (click)="next()" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="icon_footer" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0V0z"></path>
            <path d="M6.23 20.23L8 22l10-10L8 2 6.23 3.77 14.46 12z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>   
</div>
  
  
  