<div mat-dialog-content class="cardWithShadow content" *ngIf="data.code==='ADD'">
  <h4 class="mat-headline-6 m-b-16 text_title">Agregar Usuario</h4>
  <form name="eventForm" class="event-form">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100 mat-form">
          <input
            matInput
            placeholder="Nombre"
            required
            #name
            [(ngModel)]="data.name"
            name="name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mat-form">
          <input
            matInput
            placeholder="Email"
            required
            #email
            [(ngModel)]="data.email"
            (blur)="isEmailValid(data.email)"
            name="email"
          />
        </mat-form-field>
        <p class="text-error" *ngIf="showErrorMessage">{{messageError}}</p>
        <mat-form-field appearance="outline" class="w-100 mat-form">
          <input
            matInput
            placeholder="Password"
            required
            #pass
            [(ngModel)]="data.password"
            name="password"
          />
        </mat-form-field>
      </div>
    </div>
      <button
        class="button_save"
        (click)="createUser(name.value, email.value, pass.value)"
        [disabled]="!name.value || !email.value || !pass.value  || showErrorMessage"
        [ngClass]="{'button-disabled': !name.value || !email.value || !pass.value || showErrorMessage}"
      >
      Agregar Usuario
      </button>
  </form>
</div>

  <div mat-dialog-content class="cardWithShadow content" *ngIf="data.code === 'EDIT'">
    <h4 class="mat-headline-6 m-b-16 text_title">Editar Usuario</h4>
    <form name="eventForm" class="event-form">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100 mat-form">
            <input
              matInput
              placeholder="Nombre"
              required
              [(ngModel)]="data.name"
              name="name"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 mat-form">
            <input
              matInput
              placeholder="Email"
              required
              [(ngModel)]="data.email"
              (blur)="isEmailValid(data.email)"
              name="email"
            />
          </mat-form-field>
          <p class="text-error" *ngIf="showErrorMessage">{{messageError}}</p>
          <mat-form-field appearance="outline" class="w-100 mat-form">
            <input
              matInput
              placeholder="Password"
              required
              name="password"
              #password
            />
          </mat-form-field>
          <div style="display: flex; justify-content: space-evenly; align-items: flex-start;">
            <mat-form-field appearance="outline" class="mat-form">
              <mat-label>Token</mat-label>
              <input
                matInput
                required
                [value]="token"
                disabled
              />
            </mat-form-field>
            <button matTooltip="Generar nuevo token" (click)="generateToken()" class="button_token">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
              </svg>
            </button>
          </div>
          <mat-form-field class="space">
            <mat-label>Estado</mat-label>
            <mat-select [(value)]="selectedUpdate" (selectionChange)="onSelection()">
              <mat-option value="Activo">Activo</mat-option>
              <mat-option value="Inactivo">Inactivo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button
          class="button_save"
          [disabled]="!data.name || !data.email || !password.value || showErrorMessage"
          [ngClass]="{'button-disabled': !data.name || !data.email || !password.value || showErrorMessage}"
          (click)="modifyManager(data.name, data.email, password.value)"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
  
  

<div mat-dialog-content class="cardWithShadow content" *ngIf="data.code==='DELETE'">
  <h4 class="mat-headline-6 m-b-16 text_title">Eliminar Usuario</h4>
  <hr>
  <div>
    <span class="text_check">Estas a punto de eliminar este usuario "{{data.name}}", </span>
    <span class="text_check" style="font-weight: 600;">esta acción no puede ser revertida.</span>
    <p class="text_check">¿Seguro que deseas realizar esta acción?</p>
  </div>
  <hr>
  <br>
    <button
      class="button_save"
      (click)="deleteClient()"
    >
    Eliminar
    </button>
</div>
